<a href="https://colab.research.google.com/github/nandikonda-vishal21/vishchat/blob/main/Data_Engineering_internship_Movella_Vishal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON**

In [13]:
password = input("Type your password :")
score = 0

lowercase = False
uppercase = False
number = False
punctuation = False

for charecter in password :
  if charecter in "abcdefghijklmnopqrstuvwxyz" :
    lowercase = True
  elif charecter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" :
    uppercase = True
  elif charecter in "0123456789" :
    number = True
  else :
     punctuation = True

if lowercase == True :
  print("Your password contains at least one lowercase charecter")
if uppercase == True :
  print("Your password contains at least one uppercase charecter")
if number == True :
  print("Your password contains at least one number")
if punctuation == True :
  print("Your password contains at least one")

if lowercase == True and uppercase == True :
   score = score + 10
if number == True and (lowercase == True or uppercase == True):
   score = score + 10
if punctuation == True :
   score = score + 5

if len(password)>= 8:
  score = score + 5
  print("Your password contains at least 8 charecters")

print("score : " + str(score))

Type your password :vishal21$
Your password contains at least one lowercase charecter
Your password contains at least one number
Your password contains at least one
Your password contains at least 8 charecters
score : 20

In [14]:
import logging
logging.basicConfig(filename="newfile.log",
					format='%(asctime)s %(message)s',
					filemode='w')

logger = logging.getLogger()

logger.setLevel(logging.DEBUG)

logger.debug("Harmless debug Message")
logger.info("Just an information")
logger.warning("Its a Warning")
logger.error("Did you try to divide by zero")
logger.critical("Internet is down")

DEBUG:root:Harmless debug Message
INFO:root:Just an information
WARNING:root:Its a Warning
ERROR:root:Did you try to divide by zero
CRITICAL:root:Internet is down

**SQL**

a)select Name from Employee

  Where grade > 200;

b) select Department from Employee

where Gender = 'M';

c) select Name from Employee

group by salary

order by salary desc limit 1,1;

d) select E.Name , E.Emp_id , E.class_teacher_employee_id , S.student_id

From employee E

left  outer join student S

ON E.class_teacher_employee_id = S.student_id;

e) select student_id from student

where subject1 = 'p' AND subject2 = 'p' AND subject3 = 'p';

f) select Employee.Emp_id from Employee

INNER JOIN student

ON student.class_teacher_employee_id = Employee.Emp_id

Where student.subject1 = 'p' AND subject2 = 'p' AND subject3 = 'p';